#porta para api
PORT_API=8000

API_TOKEN=''

API_URL = 'https://www.replicade.com.br/api/'
 
DB_HOST=''
DB_PORT_DB=3306
DB_USER=''
DB_PASSWORD=''
DB_ESTOQUE=''
DB_VENDAS =''
DB_PUBLICO=''
DB_FINANCEIRO =''
DB_API=''
 